<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutHome.html">
<head>
<meta charset="UTF-8">
<title>Contact</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<h2>Message</h2>

			<form>
				<div class="form-group">

					<textarea class="form-control" rows="5" id="comment"></textarea>
				</div>
			</form>
		</div>
		</br>
	<button type="button" class="btn btn-primary">Envoyer</button>

	</section>
</body>
</html>