<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPatient.html">
<head>
<meta charset="UTF-8">
<title>Inscription</title>
</head>
<body>
	<section layout:fragment="content">
		<!-- 	<h2>Inscription</h2> -->
		<form th:action="@{/patient/save}" method="post">
			<div class="form-group">
				<label for="nom">Nom:</label> <input type="text"
					class="form-control" id="nom" placeholder="Entrer un nom"
					name="nom" th:value="${inscriptionFormPatient.nom}">
			</div>
			<div class="form-group">
				<label for="prenom">Prenom:</label> <input type="text"
					class="form-control" id="prenom" placeholder="Entrer un prenom"
					name="prenom" th:value="${inscriptionFormPatient.prenom}">
			</div>
			<div class="form-group">
				<label for="telephone">Numéro de téléphone:</label> <input
					type="text" class="form-control" id="telephone"
					placeholder="Entrer votre numéro de téléphone" name="telephone"
					th:value="${inscriptionFormPatient.telephone}">
			</div>
			<div class="form-group">
				<label for="email">Adresse email:</label> <input
					type="text" class="form-control" id="email"
					placeholder="Entrer votre adresse email" name="email"
					th:value="${inscriptionFormPatient.email}">
			</div>
			<div class="form-group">
				<label for="motDePasse">Mot de passe:</label> <input
					type="password" class="form-control" id="motDePasse"
					placeholder="Saisissez un mot de passe" name="motDePasse"
					th:value="${inscriptionFormPatient.motDePasse}">
			</div>
			<button type="submit" class="btn btn-success btn-lg">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</form>
	</section>
</body>
</html>