<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPatient.html">
<head>
<meta charset="UTF-8">
<title>Mes rendez-vous</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="well" th:each="rendez-vous: ${rdvAVenirRDV}">
			<div th:each="patients :${rdvAVenirPatients} ">
				<div th:each="rdv: ${rdvAVenirRDV}">
					<div th:text="${rdv.Patient.prenom}"></div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>