<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPraticien.html">
<head>
<meta charset="UTF-8">
<title>Inscription des praticiens</title>
</head>
<body>
	<section layout:fragment="content">
		<h2>Formulaire d'inscription Praticien</h2>
		
		<form th:action="@{/praticien/inscription/save}" method="post">
		
			<div class="form-group"> 
				<label for="nom">Nom:</label> <input type="text"
					class="form-control" id="nom" placeholder="Nom"
					name="nom" th:value="${praticien.nom}">
			</div>
			
			<div class="form-group"> 
				<label for="prenom">Prénom:</label> <input type="text"
					class="form-control" id="prenom" placeholder="Prénom"
					name="prenom" th:value="${praticien.prenom}">
			</div>
			
			<div class="form-group"> 
				<label for="telephone">Numéro de téléphone:</label> <input type="text"
					class="form-control" id="telephone" placeholder="Téléphone"
					name="telephone" th:value="${praticien.utilisateur?.telephone}">
			</div>

			
			<div class="form-group">
				<label for="prendCarteVitale"></label> <select id="prendCarteVitale"
					name="prendCarteVitale" class="form-control">
					<option th:each="prendCarteVitale : ${prendCarteVitales}" th:value="${prendCarteVitale}"
						th:text="${niveau.label}"
						th:selected="${matiere.niveau == niveau}"></option>
				</select>
			</div>


			<button type="submit" class="btn btn-success btn-lg">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</form>
	</section>
</body>
</html>