<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPraticien.html">
<head>
<meta charset="UTF-8">
<title>Praticien</title>
</head>
<body>
	<section layout:fragment="content">

		<table class="table table-striped">
			<thead>
				<tr>
	<!-- /*/					<th>Debut creneau</th> /*/-->
	<!-- /*/				<th>Fin creneau</th> /*/-->
					<th>Motif</th>
					<th>Durée</th>
					<th>Nom Patient</th>
					<th>Prenom Patient</th>


					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rendezVous : ${mesRendezVous}">
				<td>[[${#dates.format(rendezVousEnAttente.dtRdv, 'dd/MM/yyyy')}]]</td>
				<td>[[${#dates.format(rendezVousEnAttente.dtRdv, 'HH:mm')}]]</td>
<!-- /*	/				<td>[[${rendezVous.creneauDisponible.debut}]]</td>/*/-->
<!-- /*	/				<td>[[${rendezVous.creneauDisponible.fin}]]</td> /*/-->
					<td>[[${rendezVous.modalite.motif}]]</td>
					<td>[[${rendezVous.modalite.duree}]]</td>
					<td>[[${rendezVous.patient.nom}]]</td>
					<td>[[${rendezVous.patient.prenom}]]</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>
