<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="../layoutPraticien.html">
	
<head>
<meta charset="UTF-8">
<title>Edition compte Praticien - page 2</title>
</head>

<body>
	<section layout:fragment="content">

		<div class="row">
			<div class="col-lg-6">

				<div>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Spécialité</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="eleve : ${mesEleves}">
								<td>[[${eleve.nom}]]</td>

								<td><a th:href="@{/eleve/delete(id=${eleve.id})}"
									class="btn btn-danger btn-xs"><span
										class="glyphicon glyphicon-trash"></span></a></td>
							</tr>
						</tbody>
					</table>

				</div>

				<div></div>

				<div></div>

			</div>

			<div class="col-lg-6"></div>


		</div>

		<div class="row"></div>

	</section>
</body>
</html>