<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPraticien.html">
<head>
<meta charset="UTF-8">

<title>Praticien</title>
</head>
<body>
	<section layout:fragment="content">
		<h2>Rdv en attente de validation</h2>
	
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Jour du rendez-vous</th>
						<th>Heure du rendez-vous</th>
						<th>Motif</th>
						<th>Durée</th>
						<th>Nom Patient</th>
						<th>Prenom Patient</th>

						<th></th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="rendezVous : ${mesRendezVousEnAttente}">
						<td>[[${#dates.format(rendezVousEnAttente.creneau.getDebut,
							'dd/MM/yyyy')}]]</td>
						<td>[[${#dates.format(rendezVousEnAttente.creneau.getDebut, 'HH:mm')}]]</td>
						<td>[[${rendezVous.modalite.motif}]]</td>
						<td>[[${rendezVousEnAttente.duree}]]</td>
						<td>[[${rendezVous.patient.nom}]]</td>
						<td>[[${rendezVous.patient.prenom}]]</td>
						<td>
					</tr>
				</tbody>
			</table>
			<br>
			<br>
			<button type="submit" class="btn btn-success btn-lg">
				<span class="glyphicon glyphicon-ok"></span>Confirmer</button>
			</section>
</body>
</html>

