<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPraticien.html">
<head>
<meta charset="UTF-8">
<title>Edition des motifs de consultation</title>
</head>
<body>
	<section layout:fragment="content">
	
		<div class="row">

			<div class="col-lg-1"></div>

			<div class="col-lg-10">
				<h2>Edition des motifs de consultation</h2>
			</div>

			<div class="col-lg-1"></div>
			
		</div>
		
	</section>
</body>
</html>