<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPraticien.html">

<head>
<meta charset="UTF-8">
<title>Edition compte Praticien - page 2</title>
</head>
<body>
	<section layout:fragment="content">

		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-3">

				<h3>Spécialités Enregistrées :</h3>
				<br>
				<div>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Spécialités</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="specialite : ${mesSpecialites}">
								<td>[[${specialite.libelle}]]</td>

							</tr>
						</tbody>
					</table>
					<br>
					
					<a th:href="@{/praticien/editMesMotifsConsultation(utilisateurId=${utilisateurId})}" class="btn btn-primary" role="button">Motifs de consultation</a>

				</div>


			</div>

			<div class="col-lg-1"></div>

			<div class="col-lg-4">

				<h3>Modifier vos spécialités :</h3>
				<br> <br>

				<form action="#" th:action="@{/praticien/addSpecialites}"
					method="post">
					<input type="hidden" name="utilisateurId"
						th:value="${utilisateurId}">

					<div class="checkbox" th:each="specialite : ${allSpecialites}">

						<input type="checkbox" th:name="checkedSpecialites"
							th:value="${specialite.id}"
							th:checked=${mesSpecialites.contains(specialite)} /> <label
							th:text="${specialite.libelle}"></label>

					</div>

					<br> <input type="submit" class="btn btn-success btn-lg" />

				</form>
				<br>

			</div>

			<div class="col-lg-2">

				<h3>Ajouter une spécialité inexistante :</h3>
				<br> <br>


				<form th:action="@{/praticien/addNewSpecialite}" method="post">

					<input type="hidden" name="utilisateurId"
						th:value="${utilisateurId}">

					<div class="form-group">
						<label for="newSpecialite">Nouvelle specialité :</label> <input
							type="text" class="form-control" id="newSpecialite"
							placeholder="Entrer une spécialité" name="newSpecialite">
					</div>
					<br>
					<button type="submit" class="btn btn-success btn-lg">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					<br>

				</form>

			</div>

			<div class="col-lg-1"></div>

		</div>


	</section>
</body>
</html>