<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Edition des Matières</title>
</head>
<body>
	<section layout:fragment="content">
		<h2>Edition des Matières</h2>
		<form th:action="@{/matiere/save}" method="post">
			<div class="form-group">
				<label for="nom">Nom:</label> <input type="text"
					class="form-control" id="nom" placeholder="Entrer un nom"
					name="nom" th:value="${matiere.nom}">
				<div th:errors="${matiere.nom}" class="alert alert-danger"></div>
			</div>

			<div class="form-group">
				<label for="duree">Durée:</label> <input type="number"
					class="form-control" id="duree" placeholder="Entrer une duree"
					name="duree" th:value="${matiere.duree}">
			</div>
			<div class="form-group">
				<label for="niveau">Niveau:</label> <select id="niveau"
					name="niveau" class="form-control">
					<option th:each="niveau : ${niveaux}" th:value="${niveau}"
						th:text="${niveau.label}"
						th:selected="${matiere.niveau == niveau}"></option>
				</select>
			</div>

			<button type="submit" class="btn btn-success btn-lg">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</form>
	</section>
</body>
</html>