<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutHome.html">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content">

		<div class="row">
		
			<div class="col-sm-4">
				<img src="img/home.jpg" class="img-rounded center-block" alt="" width="400"
					height="200"><br><br>
				
			</div>


			<div class="col-sm-8" style="background-color: rgb(228, 229, 255)">

				<h1 align="center">Bienvenue sur MonRDV !</h1>
				<h3 align="center">Le site qui vous simplifie la vie</h3>



				<form th:action="@{listByVille}" method="post">

					<div class="form-group">
						<label for="nom">Nom du praticien:</label> <input type="text"
							class="form-control" id="nom" placeholder="nom de mon praticien"
							name="email">
					</div>

					<div class="form-group">
						<label for="lieu">Entrer une ville:</label> <select
							id="lieu.adresse?.ville" name="ville" class="form-control">
							<option th:each="lieu : ${lieux}"
								th:value="${lieu.adresse?.ville}"
								th:text="${lieu.adresse?.ville}"
								th:selected="${lieu.adresse?.ville == ville}"></option>
						</select>
					</div>
					<button type="submit" class="btn btn-success">Rechercher
						par ville</button>
					<br>
					<br>
				</form>

				<form th:action="@{listBySpecialite}" method="post">

					<div class="form-group">
						<label for="specialite">Spécialité recherchée:</label> <select
							id="specialite" name="specialite" class="form-control">
							<option th:each="specialite : ${specialites}"
								th:value="${specialite.libelle}" th:text="${specialite.libelle}"
								th:selected="${specialite.libelle == specialite}"></option>
						</select>
					</div>

					<button type="submit" class="btn btn-success">Rechercher
						par spécialité</button>
					<br>
					<br>
				</form>

			</div>
		</div>
	</section>
</body>
</html>